{% extends 'layout.html' %}

{% block body_content %}

<div class="bounds circle--page">


<h2>Projects</h2>
      <table class="u-full-width circle--table">

        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Description</th>
          </tr>
        </thead>

        {% for project in projects %}
        <tbody>
          <tr class="clickable-row">
            <td>
              <h3><a href="{% url 'profile:project' pk=project.pk %}"> {{ project.title }}</a></h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ project.description }}</span>
            </td>
          </tr>
        </tbody>
          {% endfor %}
      </table>

    </div>
{% endblock body_content %}
