{% extends 'layout.html' %}

{% block body_content %}
  <div class="bounds circle--page">

      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Notifications</th>
          </tr>
        </thead>
        <tbody>
    {% for notice in request.user.notifications.unread %}
          <tr class="clickable-row">
            <td>
              <h3>>{{ notice }}</h3>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock %}
