{% extends 'layout.html' %}

{% load staticfiles %}

{% block body_content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}


  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        <button type="submit" class="button button-primary icon-on-left">Save Changes</button>
      </div>
    </div>


    <div class="grid-70">
        {{user_form.username}}
      <div class="circle--article--body">
          {{ profile_form.bio }}
      </div>

      <h2>Current Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row">
            {% for project in applicants %}
            <td>
              <h3>{{ project.position.project.title }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ project.position.project.description  }}</span>
            </td>
            {% endfor %}
          </tr>

        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <div class="circle--primary--avatar">
            {{ user_form.avatar }}
        </div>
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        You can add 3 skills.
        <ul class="circle--clone--list">
            {% for skill_form in skill_formset %}
              {% for hidden in skill_form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            <li>
            {{ skill_formset.management_form }}
            {{ skill_form.errors }}
            {{ skill_form.skill_name }}
          </li>
            {% endfor %}
        </ul>
      </div>
    </div>

  </div>
  </form>

{% endblock %}
