{% extends 'layout.html' %}

{% load notifications_tags %}

{% block body_content %}
<body>
  <div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">

      <div class="circle--fluid--cell circle--fluid--primary">
        <h2>Profile</h2>
      </div>
      <div class="circle--fluid--cell circle--fluid--secondary">
        {% if profile.user.pk == request.user.pk %}
        <a class="button icon-on-left" href="{% url 'profile:profile-update' profile.user.pk  %}">Edit</a>
        {% endif %}
      </div>
    </div>


    <div class="grid-70">
      <h1>{{ profile.user.username }}</h1>
      <div class="circle--article--body">
        <p>{{ profile.bio }}</p>
      </div>

      <h2>Current Projects</h2>
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Project Title</th>
            <th class="circle--cell--right">Project Needs</th>
          </tr>
        </thead>
        <tbody>
          {% for project in applicants %}
          <tr class="clickable-row">
            <td>
              <h3>{{ project.position.project.title }}</h3>
            </td>
            <td class="circle--cell--right">
              <span class="secondary-label">{{ project.position.project.description|slice:":1" }}</span>
            </td>
            {% endfor %}
          </tr>

        </tbody>
      </table>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
          {% if profile.user.avatar %}
          <img src="{{ object.user.avatar.url }}" width="248">
          {% endif %}
      </div>

      <div class="circle--secondary--module">
        <h4>My Skills</h4>
        {% for skill in skills %}
        <ul class="unloaded">
          <li>{{ skill.skill_name }}</li>
        </ul>
        {% endfor %}
      </div>

      <div class="circle--secondary--module">
        <h4>{{ profile.user.username }}'s Projects</h4>
        {% if profile.user.pk == request.user.pk %}
          <a class="button icon-on-left" href="{% url 'profile:create_project'  %}">Create Project</a>
        {% endif %}
        {% for project in projects %}
        <ul class="circle--link--list">
          <li><a href="{% url 'profile:project' pk=project.pk %}">{{ project.title }}</a></li>
        </ul>
          {% endfor %}

      </div>
    </div>

  </div>
</body>
{% endblock %}
