{% extends 'layout.html' %}

{% block body_content %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}


  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <button type="submit" class="button button-primary">Save Changes</button>
        <a class="button button-text" href="index.html">Discard</a>
      </div>
    </div>
  </div>

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        {{ project_form.errors }}
        {{ project_form.title.label }}:
        <p>{{ project_form.title }}</p>
        {{ project_form.description.label }}:
        <p> {{ project_form.description }}</p>
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list circle--clone--list">
          <h3>Position Title</h3>
            {% for form in position_formset %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
            {{ form.errors }}
             <li>
             {{ position_formset.management_form }}
               {{ form.title }}
          <h5>Position Information</h5>
            {{ form.information }}
            <a class="circle--clone--add" id="add_position">Add Position</a>
            <a class="circle--clone--remove">Remove</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="grid-25 grid-push-5">

      <div class="circle--secondary--module">
        <h3>{{ project_form.timeline.label }}:</h3>
        {{ project_form.timeline }}
      </div>


      <div class="circle--secondary--module">
        <h3>Skills</h3>
        {{ project_form.project_skill }}
      </div>

    </div>
  </div>
</form>
{% endblock %}


<!-- create_normal.html :: part 4 -->
