bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
coverage==3.7.1
Django==2.2.20
django-appconf==1.0.3
django-debug-toolbar==1.9
django-model-utils==3.2.0
django-notifications-hq==1.5.0
django-user-accounts==2.1.0
idna==2.8
jsonfield==2.0.2
Pillow==6.0.0
Pygments==2.4.2
pytz==2019.1
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
webencodings==0.5.1
